// Breakpoints
$bp-mobile-max: 1200px;
$bp-desktop-min: ($bp-mobile-max + 1px);

$container-winger-padding-mobile: 10px;
$container-winger-padding: 40px;
$container-max-width-inner: 1160px;
$container-max-width-outer: $container-max-width-inner + $container-winger-padding * 2;

// Colors
$color-basic: rgba(247, 247, 242, 0.35);
$color-blue: #145e86;
$color-font: #3b3b3b;
$color-gray: #5e5e5e;

//Fonts
$font-main: Bodoni;
$font-second: Roboto;