.reserve(class= block.class)
      h3.reserve__title(class= block.class + "__title")
        | Лучше один раз попробовать, чем много раз говорить.
      button.button.reserve__btn(class= block.class + "__btn")
        span.text
          | Забронировать