.svg-Logo-dims {
	width: 56px;
	height: 25px;
}

.svg-VK-dims {
	width: 30px;
	height: 29px;
}

.svg-arrow-dims {
	width: 16px;
	height: 9px;
}

.svg-arrow_long-dims {
	width: 21px;
	height: 15px;
}

.svg-cancel-dims {
	width: 13px;
	height: 13px;
}

.svg-download-dims {
	width: 13px;
	height: 13px;
}

.svg-facebook-dims {
	width: 31px;
	height: 29px;
}

.svg-insta-dims {
	width: 31px;
	height: 29px;
}

.svg-instagram-logo-dims {
	width: 31px;
	height: 29px;
}

.svg-logo_jetmix-dims {
	width: 721px;
	height: 429px;
}

.svg-map-dot-dims {
	width: 36px;
	height: 45px;
}

.svg-play-dims {
	width: 145px;
	height: 145px;
}

