header.header.js-header(class=" " + header.class)
    div.header__menu-btn.js-header-open
        button.menu__btn_open
            span
        span.tirle
            | Меню
    div.header__menu.js-header-menu
        div.header__menu__wrapper
            button.header__menu__btn_close.js-header-close
                span.text
                    | Закрыть
                span.icon
                    span.first
                    span.last
            ul.list
                -
                    var items = [
                        {
                            link: "main",
                            text: "Меню",
                        },
                        {
                            link: "main",
                            text: "О нас",
                        },
                        {
                            link: "main",
                            text: "Мероприятия",
                        },
                        {
                            link: "main",
                            text: "Отзывы",
                        },
                        {
                            link: "main",
                            text: "Контакты",
                        },
                    ]
                each item in items
                    li.list__item.js-list-item
                        a.list__item__link(href= item.link)= item.text
            a.button.header__btn(href="/")
                | Забронировать
            div.header__contacts
                -
                    var contacts = [
                        {
                            title: "Адрес",
                            info: ['г.Черняховск, ул. Калининградская, 5, ТЦ "Радуга"'],
                        },
                        {
                            title: "Время работы",
                            info: ['Пн-Вс', '11:00 - 23:00'],
                        },
                        {
                            title: "Телефон",
                            info: ['+7 909 782 8450', '+7 909 782 8450']
                        }
                    ]
                each contact in contacts
                    div.contact
                        span.title= contact.title
                        each text in contact.info
                            span.info= text
        div.header__menu__images
            -
                var images = [
                    "headerBG1.png",
                    "headerBG2.png",
                    "headerBG1.png",
                    "headerBG2.png",
                    "headerBG1.png"
                ]
            each img in images
                div.image-slide.js-list-item-bg(style="background-image: url(images/" + img + ")")
                    img(src="images/" + img, hidden)
    div.header__logo.logo
        div.header__logo__icon.logo__icon
        p.header__logo__text.logo__text Leto