footer.footer
    .footer__wrapper
        .footer__nav-block
            a.footer__logo.logo(href="main.html" +
            "")
                div.header__logo__icon.logo__icon
                p.header__logo__text.logo__text
                    | Leto
            ul.footer__nav
                -
                    var links = [
                        {
                            url: "menu",
                            text: "меню",
                        },
                        {
                            url: "about",
                            text: "о нас",
                        },
                        {
                            url: "events",
                            text: "мероприятия",
                        },
                        {
                            url: "review",
                            text: "отзывы",
                        },
                        {
                            url: "gallery",
                            text: "галерея",
                        },
                        {
                            url: "contacts",
                            text: "контакты",
                        },
                    ]
                each link in links
                    li.footer__nav-link
                        a(href= link.url + ".html")= link.text
            p.footer__copyright
                | Copyright © 2019
        .footer__social
            .social-links
                -
                    var links = [
                        {
                            url: "/",
                            icon: "VK"
                        },
                        {
                            url: "/",
                            icon: "insta"
                        },
                        {
                            url: "/",
                            icon: "facebook"
                        }
                    ]
                each link in links
                    .social-links__link
                        a(href= link.url)
                            svg
                                use(xlink:href=assetsDir + "images/sprite.symbol.svg#" + link.icon)