.footer {
  background-color: rgba(247, 247, 242, 0.35);
  height: 200px;
  box-sizing: border-box;
  padding: 41px 20px;

  &__wrapper {
    max-width: 900px;
    margin: 0 auto;
  }

  &__nav-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 68px;
    height: 68px;
    background-color: #54bcbf;
    border-radius: 50%;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 21px 6px 21px;
    font-size: 14px;
    user-select: none;

    .logo__icon {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    color: $color-font;
    font-size: 14px;
    font-family: $font-second;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .11px;
    min-width: 564px;

    &-link {
      position: relative;
      a {
        color: inherit;
        text-decoration: none;

      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $color-font;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .7s;
      }

      &:hover {
        &:after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  &__copyright {
    font-family: $font-second;
    font-size: 13px;
    font-weight: 300;
    color: #7b7b7b;
    user-select: none;
  }

  &__social {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 14px;

    .social-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 110px;
      height: 29px;
      margin: 0 auto;

      &__link {
        width: 31px;
        height: 29px;
        fill: #46687a;

        a {
          width: 100%;
          height: 100%;
        }
      }
    }

    &:before, &:after {
      content: "";
      position: absolute;
      width: 100%;
      max-width: 375px;
      height: 1px;
      background-color: #c5c5c5;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      left: unset;
      right: 0;
    }
  }
}