extends /containers/layout

block variables

block content
    div.politic
        h1.title ПОЛОЖЕНИЕ ОБ ОБРАБОТКЕ И ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ КЛИЕНТОВ ГОСТЕВОГО ДОМА «ЭЛИЗА ЗАРКАУ»

        ol.block
            li
                h3.block__title Общие положения
                ol.block__list
                    li
                        p Настоящее Положение разработано в целях обеспечения защиты персональных данных гостей гостевого дома «Элиза Заркау»
                    li
                        p Основные понятия, используемые в Положении:
                        -
                            var items = [
                                "Гостевой дом  -  жилое помещение в жилом доме по адресу: Зеленоградский район, поселок Лесной, ул. Набережная, дом 2А,  предоставления в краткосрочный найм  жилого помещения гостю;",
                                "гость - физическое лицо,  субъект персональных данных; ",
                                "предоставление в краткосрочный найм жилого помещения – действия  по размещению Гостей в объекте размещения, а также иная деятельность, связанная с размещением и проживанием, которая включает в себя основные и дополнительные услуги, предоставляемые Гостю;",
                                "персональные данные - информация, сохраненная в любом формате, относящаяся к определенному или определяемому на основании такой информации физическому лицу (субъекту персональных данных), которая сама по себе или в сочетании с другой информацией, имеющейся в распоряжении Гостевого дома, позволяет идентифицировать личность Гостя и сотрудника;",
                                "обработка персональных данных - действия (операции) с персональными данными, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных;",
                                "распространение персональных данных - действия, направленные на передачу персональных данных определенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;",
                                "использование персональных данных - действия (операции) с персональными данными, совершаемые оператором в целях принятия решений или совершения иных действий, порождающих юридические последствия в отношении субъекта персональных данных или других лиц либо иным образом затрагивающих права и свободы субъекта персональных данных или других лиц;",
                                'конфиденциальность персональных данных - обязательное для соблюдения оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространение без согласия субъекта персональных данных или наличия иного законного основания.'
                            ]
                        ul.block__sublist
                            each item in items
                                li
                                    p= item
                    li
                        p Настоящим Положением устанавливается порядок обработки персональных данных Гостей, для которых Гостевым домом осуществляется весь спектр услуг по приему и размещению жилом помещении .
                    li
                        p Целью Положения является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных.
                    li
                        p Персональные данные Гостей обрабатываются в целях исполнения договора  найма жилого помещения в жилом доме по адресу: Зеленоградский район, поселок Лесной, ул. Набережная, дом 2А, по  предоставлению в краткосрочный найм  жилого помещения и обязательств, возникающих в связи с этим. Гостевой дом,  собирает данные только в объеме, необходимом для достижения названной цели.
                    li
                        p Персональные данные не могут быть использованы в целях причинения имущественного и морального вреда гражданам, затруднения реализации прав и свобод граждан Российской Федерации.
                    li
                        p Настоящее Положение утверждается  собственником  жилого здания  Индивидуальный Предприниматель  Куренков Сергей Николаевич и является обязательным для исполнения всеми сотрудниками, имеющими доступ к персональным данным Гостя.
            li
                h3.block__title Состав и получение персональных данных гостя
                ol.block__list
                    li
                        p ведения о персональных данных Гостя, являются конфиденциальными. К персональным данным относятся:
                    li
                        p Сведения о госте Гостевого дома:
                        ul.block__sublist
                            li
                                p анкетные данные (ФИО, дата и место рождения и др.);
                            li
                                p паспортные данные (в т.ч. адрес регистрации, адрес места жительства);
                            li
                                p номер контактного телефона;
                            li
                                p адрес электронной почты;
                            li
                                p даты заезда/ выезда гостя, период проживания;
                            li
                                p фактическое нахождение гостя в Гостевом доме;
                            li
                                p формы оплаты и суммы выставленных счетов за проживание, дополнительные услуги;
                            li
                                p посетители гостя, их численность, контактные данные, время, проведенное в комнате гостя.
                    li
                        p Все персональные данные Гостя сотрудники  получают непосредственно от субъекта персональных данных – Гостей.
                    li
                        p В случае необходимости применения режима конфиденциальности к другим категориям информации, Собственник жилого помещения ИП Куренков С.Н.,  вправе издать распоряжение о придании информации статуса конфиденциальной, с обязательным ознакомлением с распоряжением сотрудников, имеющих доступ к указанной информации, и последующим внесением указанной информации в перечень, установленный настоящим Положением.
            li
                h3.block__title Обработка и хранение персональных данных Клиентов и Сотрудников
                ol.block__list
                    li
                        p Обработка персональных данных Гостевым домом в интересах Гостей,  заключается в получении систематизации, накоплении, хранении, уточнении (обновлении, изменении), использовании, распространении, обезличивании, блокировании, уничтожении и в защите от несанкционированного доступа персональных данных Гостей.
                    li
                        p Согласие Гостей на обработку персональных данных предусматривается при подписании регистрационной карты гостя (обработка персональных данных осуществляется в целях исполнения договора, одной из сторон которого является субъект персональных данных – Гость).
                    li
                        p Обработка персональных данных Гостей ведется методом смешанной обработки.
                    li
                        p К обработке персональных данных Гостей могут иметь доступ только сотрудники Гостевого дома, допущенные к работе с персональными данными Гостей, ознакомленные под роспись с Положением о защите персональных данных.
                    li
                        p Перечень сотрудников, имеющих право доступа к персональным данным (далее – Перечень), определяется распоряжением Собственника жилого помещения ИП Куренков Сергей Николаевич на основании должностных обязанностей сотрудников и производственной необходимости. С указанным Перечнем сотрудники должны быть ознакомлены под роспись.
                    li
                        p Документы, содержащие персональные данные Гостей хранятся в архиве кабинета «ИП Куренков С.Н.».
                    li
                        p Персональные данные Гостей в электронном виде хранятся в базе локальной компьютерной сети Гостевого дома. Доступ к персональным данным имеют только лица, допущенные к обработке персональных данных Гостей.
            li
                h3.block__title Использование и передача персональных данных Гостей. Режим конфиденциальности информации
                ol.block__list
                    li
                        p Использование персональных данных Гостей осуществляется Гостевым домом исключительно для достижения целей, определенных договором между Гостем и Гостевым домом, в частности, для предоставления услуг по  краткосрочному найму  жилого помещения  или временному размещению, а также дополнительных услуг.
                    li
                        p При передаче персональных данных Гостей, Гостевой дом  должен соблюдать следующие требования:
                        ol
                            li
                                p Предупредить лиц, получающих персональные данные Гостей о том, что эти данные могут быть использованы лишь в целях, для которых они сообщены, и требовать от этих лиц подтверждения того, что это правило соблюдено. Лица, получающие персональные данные Гостей, обязаны соблюдать режим конфиденциальности. Данное положение не распространяется в случае обезличивания персональных данных и в отношении общедоступных данных.
                            li
                                p Разрешать доступ к персональным данным Гостей только специально уполномоченным лицам, при этом указанные лица должны иметь право получать только те персональные данные, которые необходимы для выполнения конкретных функций.
                    li
                        p Трансграничная передача персональных данных не производится.
                    li
                        p Лица, в установленном порядке получившие доступ к персональным данным и другой конфиденциальной информации, обязаны не предоставлять и не разглашать такую информацию в любой возможной форме (устной, письменной, иной форме, в т. ч. с использованием технических средств) без согласия обладателя такой информации.
            li
                h3.block__title Защита персональных данных Гостей от несанкционированного доступа
                ol.block__list
                    li
                        p Гостевой дом обязан при обработке персональных данных Гостей принимать необходимые организационные и технические меры для защиты персональных данных от несанкционированного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения персональных данных, а также от иных неправомерных действий.
                    li
                        p Для эффективной защиты персональных данных Гостей необходимо:
                        ol(style="width: 100%")
                            li
                                p Соблюдать порядок получения, учета и хранения персональных данных Гостей;
                            li
                                p Применять технические средства охраны, сигнализации;
                            li
                                p Ознакомить всех сотрудников, связанных с получением, обработкой и защитой персональных данных Гостей, с настоящим Положением под роспись;
                            li
                                p Привлекать к дисциплинарной ответственности сотрудников, виновных в нарушении норм, регулирующих получение, обработку и защиту персональных данных Гостя.
                    li
                        p Допуск к персональным данным Гостей сотрудников , не имеющих надлежащим образом оформленного доступа, запрещается.
                    li
                        p Документы, содержащие персональные данные Гостей, хранятся в  служебном помещении , обеспечивающего защиту от несанкционированного доступа.
                    li
                        p Защита доступа к электронным базам данных, содержащим персональные данные Гостей, обеспечивается: - использованием лицензионных программных продуктов, предотвращающих несанкционированный доступ третьих лиц к персональным данным Гостей; - системой паролей. Пароли устанавливаются системным администратором и сообщаются индивидуально сотрудникам, имеющим доступ к персональным данным Гостей.
                    li
                        p Копировать и делать выписки персональных данных Гостей разрешается исключительно в служебных целях с письменного разрешения Собственника жилого помещения ИП Куренков С.Н.
                    li
                        p Сотрудникам Гостевого дома,  запрещается выносить вышеуказанную информацию за пределы гостевого дома на бумажных, машиночитаемых и иных носителях за исключением случаев, когда это необходимо в силу производственной необходимости для выполнения сотрудниками своих должностных обязанностей.
                    li
                        p При работе с персональными данными Гостей, сотрудникам  Гостевого дома следует соблюдать меры, предупреждающие и ограничивающие доступ к указанной информации не уполномоченных на ее получение лиц. В том числе:
                        ul.block__sublist
                            li
                                p не передавать свой пароль от входа в систему управления Гостевым домом,  третьим лицам;
                            li
                                p по окончании работы в системе – завершить сеанс пользователя;
                            li
                                p не допускать хранения в открытом доступе регистрационных анкет и других документов, содержащих конфиденциальную информацию;
                            li
                                p xранение анкет текущего дня, документов для миграционной службы, журналов регистрации осуществляется только в сейфе;
                            li
                                p рхивы документов хранятся в помещении,  с ограниченным доступом в закрывающихся на ключ шкафах в течение установленного нормативно-правовыми актами РФ срока;
                            li
                                p после истечения установленного нормативно-правовыми актами РФ срока хранения документы уничтожаются вручную, либо с использование специального оборудования и составляется соответствующий акт.
                    li
                        p Нарушение данных обязанностей считается совершенным, когда сведения, содержащие персональные данные и другую конфиденциальную информацию, стали известны лицам, которые не должны располагать такой информацией.
                    li
                        p По разрешению Собственника жилого помещения ИП Куренков С.Н.  раскрытие конфиденциальной информации (персональных данных) третьим лицам возможно в случае привлечения их к деятельности, требующей знания такой информации, и только в том объеме, который необходим для реализации целей и задач организации, а также при условии принятия ими на себя обязательства не разглашать полученные сведения.
            li
                h3.block__title Обязанности сотрудников Отеля по обеспечению сохранности персональных данных
                ol.block__list
                    li
                        p Гостевой дом обязан:
                        ol(style="width: 100%")
                            li
                                p Осуществлять обработку персональных данных Гостей исключительно в целях оказания законных услуг Гостям.
                            li
                                p Получать персональные данные Гостей непосредственно у него самого. Если персональные данные Гостя, возможно, получить только у третьей стороны, то Гость должен быть уведомлен об этом заранее и от него должно быть получено письменное согласие. Сотрудники Гостевого дома  должны сообщить Гостям  о целях, предполагаемых источниках и способах получения персональных данных, а также о характере подлежащих получению персональных данных и последствиях отказа гостя  дать письменное согласие на их получение.
                            li
                                p Не получать и не обрабатывать персональные данные Гостя о его расовой, национальной принадлежности, политических взглядах, религиозных или философских убеждениях, состоянии здоровья, интимной жизни, за исключением случаев, предусмотренных законом.
                            li
                                p Предоставлять доступ к своим персональным данным Гостю или его законному представителю при обращении либо при получении запроса, содержащего номер основного документа, удостоверяющего личность Гостя или его законного представителя, сведения о дате выдачи указанного документа и выдавшем его органе и собственноручную подпись Гостя или его законного представителя. Запрос может быть направлен в электронной форме и подписан электронной цифровой подписью в соответствии с законодательством Российской Федерации. Сведения о наличии персональных данных должны быть предоставлены Гостю в доступной форме и в них не должны содержаться персональные данные, относящиеся к другим субъектам персональных данных.
                            li
                                p Обеспечить хранение и защиту персональных данных Гостя от неправомерного их использования или утраты.
                            li
                                p В случае выявления недостоверных персональных данных или неправомерных действий с ними Гостевого дома при обращении или по запросу субъекта персональных данных или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных Гостевой дом,  обязан осуществить блокирование персональных данных, относящихся к соответствующему субъекту персональных данных, с момента такого обращения или получения такого запроса на период проверки.
                            li
                                p В случае подтверждения факта недостоверности персональных данных Гостевой дом на основании документов, представленных субъектом персональных данных или его законным представителем либо уполномоченным органом по защите прав субъектов персональных данных, или иных необходимых документов обязан уточнить персональные данные и снять их блокирование.
                            li
                                p В случае выявления неправомерных действий с персональными данными Гостевой дом в срок, не превышающий трех рабочих дней с даты такого выявления, обязан устранить допущенные нарушения. В случае невозможности устранения допущенных нарушений Гостевой дом в срок, не превышающий трех рабочих дней с даты выявления неправомерности действий с персональными данными, обязан уничтожить персональные данные. Об устранении допущенных нарушений или об уничтожении персональных данных Гостевой дом,  обязан уведомить субъекта персональных данных или его законного представителя, а в случае, если обращение или запрос были направлены уполномоченным органом по защите прав субъектов персональных данных, также указанный орган.
            li
                h3.block__title Права Гостя
                ol.block__list
                    li
                        p Гость имеет право на: - доступ к информации о самом себе, в том числе содержащей информацию подтверждения факта обработки персональных данных, а также цель такой обработки; способы обработки персональных данных, применяемые Гостевым домом; сведения о лицах, которые имеют доступ к персональным данным или которым может быть предоставлен такой доступ; перечень обрабатываемых персональных данных и источник их получения, сроки обработки персональных данных, в том числе сроки их хранения; сведения о том, какие юридические последствия для Гостя может повлечь за собой обработка его персональных данных;
                        ul.block__sublist
                            li
                                p определение форм и способов обработки его персональных данных;
                            li
                                p ограничение способов и форм обработки персональных данных;
                            li
                                p запрет на распространение персональных данных без его согласия;
                            li
                                p изменение, уточнение, уничтожение информации о самом себе;
                            li
                                p обжалование неправомерных действий или бездействий по обработке персональных данных и соответствующую компенсацию в судебном порядке.
            li
                h3.block__title Ответственность за нарушение норм, регулирующих обработку персональных данных Гостей.
                ol.block__list
                    li
                        p Гостевой дом несет ответственность за персональную информацию, которая находится в ее распоряжении и закрепляет персональную ответственность сотрудников за соблюдением установленного режима конфиденциальности.
                    li
                        p Каждый сотрудник, получающий для работы документ, содержащий персональные данные Гостя, несет единоличную ответственность за сохранность носителя и конфиденциальность информации.
                    li
                        p Любое лицо может обратиться к сотруднику Гостевого дома с жалобой на нарушение данного Положения. Жалобы и заявления по поводу соблюдения требований обработки данных рассматриваются в трехдневный срок со дня поступления.
                    li
                        p Сотрудники Гостевого дома,  обязаны на должном уровне обеспечивать рассмотрение запросов, заявлений и жалоб Гостей, а также содействовать исполнению требований компетентных органов.
                    li
                        p Лица, виновные в нарушении норм, регулирующих получение, обработку и защиту персональных данных Гостей, несут дисциплинарную, административную, гражданско-правовую или уголовную ответственность в соответствии с действующим законодательством Российской Федерации