.rollup {
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  margin: 0 30px 15px auto;
  bottom: 30px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.27);
  background-color: #fcfcfb;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow .5s;
  z-index: 1;

  @media all and (max-width: $mobileL - 1) {
    width: 42px;
    height: 42px;
  }

  @media all and (max-width: $mobileM - 1) {
    margin-right: 15px;
    bottom: 15px;
  }

  &__icon {
    width: 23px;
    height: 13px;
    margin: auto;
    transition: transform .5s;

    @media all and (max-width: $mobileL - 1) {
      width: 18px;
    }
  }
  
  &:hover > &__icon {
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: none;
  }
}