.contacts__info {
  width: auto;
  padding-top: 138px;

  @media all and (max-width: $laptop - 1) {
    padding-top: 70px;
    overflow: hidden;
  }

  @media all and (max-width: $tablet - 1) {
    padding-top: 0;
  }
  &__title {
    position: relative;

    &-background {
      left: -10px !important;
      top: -60px;

      @media all and (max-width: $tablet - 1) {
        display: none;
      }
    }
  }

  &__subtitle {
    max-width: 245px;
    margin-bottom: 20px;
  }

  &__contacts {
    display: flex;
    color: #000;
    font-family: $font-second;
    font-size: 14px;
    font-weight: 300;

    @media all and (max-width: $tablet - 1) {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 30px;
      grid-row-gap: 22px;
    }
  }

  &__contact {
    max-width: 120px;
    margin-right: 40px;

    @media all and (max-width: $tablet - 1) {
      margin: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .contact {
      &__title {
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      &__info {
        line-height: 24px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__footer {
    display: flex;
    margin-top: 35px;

    .button {
      background-color: #FFFFFF;
      color: $color-font;

      &:after {
        background-color: $color-font;
      }

      &:hover {
        color: #FFFFFF;
      }
    }

  }

  .social-links {
    color: #000;
    fill: #4d4d4d;
    max-width: 130px;
    margin-right: 34px;

    @media all and (max-width: $tablet - 1) {
      display: none;
    }

    &_mobile {
      width: 100%;
      max-width: 130px;
      flex-direction: column;
      @media all and (min-width: $tablet) {
        display: none;
      }
    }

    &__title, &__title_mobile {
      text-transform: uppercase;
      font-family: $font-second;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    &__wrapper {
      display: flex;
      height: 30px;
      fill: inherit;
    }

    &__wrapper_mobile {
      display: flex;
      height: 30px;
      fill: inherit;
    }


    &__link {
      width: 30px;
      margin-right: 10px;
      transition: fill .6s;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        fill: #46687a;
      }

    }

  }

}