extends /containers/layout

block variables

block content

    div.page-contacts.js-page-contacts
        .page-contacts__wrapper
            p.page-contacts__vertical
                | Контакты
            .page-contacts__map.js-yandex-map#map
            include  /components/Contacts/index
    script(src="https://api-maps.yandex.ru/2.1/?apikey=AEs_rl0BAAAA9_OGRQMAwDLsiZDoTKJyMbuGTXLkgZIlvO4AAAAAAAAAAACQGBLvIY_0PjL5g2tQHxqgeQerJA==&lang=ru_RU" type="text/javascript")